.home {
	border-bottom: 10px solid $mainBlue;
	position: relative;

	&__image {
		display:block;
	}

	&__five-star-icon {
		display:inline-flex;
		transform: scale(0.3);
		margin-left: auto;
		margin-right: auto;

		@mixin atMedium{
			display:block;
			transform: scale(0.7);
			padding-top: 0.56rem;
		}

	}

	&__text-content {
	padding-top:88px;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	left:0;
	width: 100%;
	text-align: center;	

		@mixin atMedium {
			padding-top:60px;
		}	

	}

	&__title {
	font-weight:300;
	color: $mainColor;
	text-shadow: 3px 3px $mainOrange;
	margin:0;
	padding: 40px 0 0 0;
	font-size:2.9rem;

		@mixin atMedium {
			font-size: 4.8rem;
		}	
	}

	&__subtitle {
		
		visibility:hidden;

		@mixin atSmall {
			visibility:visible;
			font-weight:200;
			color: white;
			text-shadow: none;
			font-size: 1.1rem;
			margin-top:0;
			padding-top:0rem;
		}

		@mixin atMedium {
			font-size: 2.1rem;
			padding-top: 0.56rem;
			text-shadow: 3px 3px $mainOrange;
			color: $mainBlue;
		}
		
	}

	&__description {

		visibility:hidden;

		@mixin atSmall {
			visibility:visible;
			color: white;
			text-shadow: none;
			font-size: 1rem;
			font-weight:100;
		}

		@mixin atMedium {
			font-size: 1.875rem;
			text-shadow:1px 1px $mainColor;
			color: $mainBlue;
		}

	}
}

.far {
	font-weight:100;
	color: black;
	text-shadow: 2px 2px white;
}

