.section-title {
	font-size: 2.5rem;
	font-weight: 300;
	text-align:center;

	@mixin atSmall {
		font-size: 3.20rem;
	}
	strong {
		font-weight: 600;
	}

	&__icon {
		display:block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 1.5rem;
		width:12%;

		@mixin atMedium {
			position: relative;
			top: 25px;
			width:10%;
			margin-right: 0.5rem;
			margin-left: 0;
			display:inline-block;
			margin-bottom: 0;
		}

		@mixin atLarge {
			width:8%;
		}
	}

	&--blue {
		color:$mainBlue;
	}

	&--less-margin {
		margin-bottom:1.3rem;
	}
}